<h2>ちょっとした掲示板の説明</h2>
<%= link_to 'HOME', subjects_path %>
<ul>
    <li>作成されたスレッドは2時間後に削除されます</li>
    <li>クラス名のリンクを押すことで開くことができます</li>
    <li>編集のリンクではクラス名と教授名の変更が可能です</li>
    <li>書き込みの際、名前を入力しないと"名無し"で書きこまれます</li>
</ul>